*~
*.a
*.o
*.lo
*.la
*.Po
*.Plo
*.lai
*.so
*.so.*
*.soT
*.exe
*.dll
*.dll.a
Makefile
Makefile.in
ChangeLog
Doxyfile
INSTALL
i18nsources

aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

.libs/
.deps/

chipcard-config
chipcard-config.in
libchipcard-*.tar.gz
libchipcard-client.pc
libchipcard-server.pc
libchipcard.spec

libchipcard5/
libchipcard6/
patches/
build/
