*.exe
*.idb
*.kdevelop.pcs
*.kdevses
*.la
*.lo
*.o
*.obj
*.sln
*.vcproj
*~
.deps
.libs
Makefile
Makefile.in

INSTALL
*-config
*-config.in
*.iss
*.pc
*.spec
*.tag
*.tar.gz
ABOUT-NLS
Doxyfile
Makefile.palm
aclocal.m4
apidoc
autom4te.cache
conf.uint32
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.palmos
depcomp
distribution
install-sh
libtool
listdoc.h
ltmain.sh
missing
mkinstalldirs
stamp-h1
i18nsources

chipcard/*
*.rc
src/lib/chipcard.h
src/lib/version.h

src/drivers/ctapi/ctapi
src/drivers/ifd/ifd
src/drivers/skeleton/SKEL1
libtest
src/services/kvks/kvks
src/tools/cardcommander/cardcommander
src/tools/chipcard-tool/chipcard-tool
src/tools/chipcardd/chipcardd?
src/tools/geldkarte/geldkarte
src/tools/kvkcard/kvkcard
src/tools/memcard/memcard
tutorials/tutorial?
tutorials/tutorial?a
tutorials/tutorial?b
tutorials/tutorial?c
ChangeLog
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/ct/ddvcard/ddvcard.xml
src/ct/starcoscard/starcoscard.xml
src/drivers/ctapi/ctapi.xml
src/drivers/ifd/ifd.xml
src/drivers/skeleton/SKEL1.xml
src/services/kvks/kvks.xml
